[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
nltk = "==3.4"
numpy = "==1.16.2"
singledispatch = "==3.4.0.3"
six = "==1.12.0"
jupyter = "*"
geniatagger-python = {file = "https://github.com/d2207197/geniatagger-python/archive/master.zip"}
lxml = "*"
tqdm = "*"

[requires]
python_version = "3.8"
